.wrapper {
    height: 150px;
    width: 450px;
    border: 1px solid black;
}

#pic {
    float: left;
}

.callingCard {
    height: 150px;
    width: 450px;
    background-color: black;
}

.pic {
    height: 150px;
    background-image: url();
}